/* Global */
$font-header: 'Lobster', cursive;
$font-text: 'Dancing Script', cursive;

*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
    margin-left: 50px;
    font-size: 16px;
    line-height: 1.7;
  }

/* Header */
.header {
    font-family: $font-header;
}

/* Container */
.container {
    font-family: $font-text;
    margin: 50px;
}